
.profile-album-section {
    height: 100vh;
    color: #eaeaea;
    padding: 0 30px;
}

.profile-album-section h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.album-images {
    display: inline-block;
    margin: 0 0 1em;
    vertical-align: top;
}

.album-images img {
    padding: 5px;
    width:100%;
    max-width:300px;
}

.album-image-close {
    cursor: pointer;
    position: absolute;
    color: red;
    margin: 5px;
}

