.profile-section-container {
    width: 400px;
    float: left;
    height: 100vh;
}


.profile-section {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.profile-header {
    border-radius: 10px;
    background-color: brown;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
}

.profile-header h1 {
    padding: 5px 15px;
}

.profile-image {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}