.about-page {
    align-items: center;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.about-page h1 {
    margin-top: 50px;
}

.about-page h2 {
    margin-top: 50px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.about-text {
    padding: 0 20%;
}

.about-page img {
    max-height:150px;
    max-width:500px;
}

.tech-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width: 1300px) {
    .tech-images {
        flex-wrap: wrap;
    }    
}

.about-page p {
    line-height: 30px;
}