.hero-section {
    display: flex;
    align-items: center;
    margin: 0 12% 5% 12%;
    height: 60vh;
}

.hero-text-section {
    color: white;
    width: 50%;
    padding: 0 5%;
}

.hero-text-section h1 {
    font-size: 4rem;
    margin-bottom: 5%;
}

.hero-text-section h2 {
    font-weight: lighter;
}


.hero-section button {
    margin-top: 15px;
    padding: 15px 60px;
}


.hero-image-1 {
    display: flex;
    max-width: 80%;
    max-height: 80%;
    object-fit: fill;
    align-items: center;
}

.hero-image-2 {
    display: flex;
    object-fit: fill;
    align-items: center;
    border-color: lavender;
    border: 5px solid #555;
}   