.navbar {
    background: #141b25;
    color: white;
    display: flex;
    height: 80px;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

.logo-section {
    white-space: nowrap;
}

.logo-link {
    text-decoration: none;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-logo h1 {
    padding-right: 5px;
}

.nav-menu {
    display: flex;
    width: 100%;
    text-align: center;
    list-style: none;
    justify-content: center;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    margin: 0 2rem 0 2rem;
    padding: 8px 10px;
}

.nav-link:hover {
    border-radius: 5px;
    background-color: #00adb5;
}


.nav-user {
    float: right;
    margin-right: 2rem;
    margin-left: auto;
}
